<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Ratings {{shuttle?.name}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let rating of ratings" id="rating-card">
        <ion-card-header>
            <ion-card-subtitle>Anonymous, {{getDate(rating.date)}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <p>
                <span>Service</span>
                <ion-badge color="tertiary">{{rating.service}} von 5</ion-badge>
            </p>
            <p>
                <span>Reliability & Punctuality</span>
                <ion-badge color="tertiary">{{rating.reliabilityAndPunctuality}} von 5</ion-badge>
            </p>
            <p>
                <span>Driving Style & Security</span>
                <ion-badge color="tertiary">{{rating.drivingStyleAndSecurity}} von 5</ion-badge>
            </p>
            <p>
                <span>Price</span>
                <ion-badge color="tertiary">{{rating.price}} von 5</ion-badge>
            </p>
            <hr>
            <p>
                <i>"{{rating.review}}"</i>
            </p>
        </ion-card-content>
    </ion-card>

    <p *ngIf="ratings.length < 1" class="no-data-p"> No ratings :(</p>
</ion-content>
