<ion-header>
    <app-sf-toolbar></app-sf-toolbar>
</ion-header>

<ion-content>
    <ion-row id="gps-row">
        <ion-col>
            <ion-label color="primary" class="section-headline">
                {{ "departure.WHERE_ARE_YOU" | translate }}
            </ion-label>
            <ion-button id="gps-button" (click)="gpsClicked()" color="secondary" shape="round">
                <ion-icon name="pin" slot="start"></ion-icon>
                {{ "departure.GPS" | translate }}
            </ion-button>
        </ion-col>
    </ion-row>
    <div id="district-chip-row">
        <ion-chip (click)="districtClicked(d)" *ngFor="let d of districtsService.districts | async"
                  [style.background-color]="colorGenerator.getDistrictColors(d)[0]"
                  [style.color]="colorGenerator.getDistrictColors(d)[1]">
            <ion-label>{{getDistrictName(d)}}</ion-label>
        </ion-chip>
    </div>
    <!--<ng-container *ngIf="remainingDistricts && remainingDistricts.length > 0">-->
    <!--<div>-->
    <!--<ion-chip (click)="districtClicked(d)" *ngFor="let d of remainingDistricts"-->
    <!--[style.background-color]="colorGenerator.getDistrictColors(d)[0]"-->
    <!--[style.color]="colorGenerator.getDistrictColors(d)[1]">-->
    <!--<ion-label>{{getDistrictName(d)}}</ion-label>-->
    <!--</ion-chip>-->
    <!--</div>-->
    <!--</ng-container>-->

    <!--<ng-container *ngIf="districts && districts.length > 0">-->
    <!--<div id="district-chip-row">-->
    <!--<ion-chip (click)="districtClicked(d)" *ngFor="let d of districts"-->
    <!--[style.background-color]="colorGenerator.getDistrictColors(d)[0]"-->
    <!--[style.color]="colorGenerator.getDistrictColors(d)[1]">-->
    <!--<ion-label>{{getDistrictName(d)}}</ion-label>-->
    <!--</ion-chip>-->
    <!--</div>-->
    <!--</ng-container>-->
    <!--<ion-button fill="solid" *ngFor="let d of districts" shape="round"-->
    <!--(click)="districtClicked(d)"-->
    <!--[ngStyle]="getDistrictStyle(d)" color="{{getDistrictColors(d)[0]}}">-->
    <!--{{getDistrictName(d)}}-->
    <!--</ion-button>-->
    <hr>
    <ng-container *ngIf="favorites?.length > 0">
        <div id="favorites-div">
            <ion-row>
                <ion-col>
                    <ion-label color="primary" class="section-headline-small">
                        {{"page_titles.FAVORITES" | translate}}
                    </ion-label>
                </ion-col>
            </ion-row>
            <ion-chip *ngFor="let shuttle of favorites"
                      (click)="shuttleClicked(shuttle)"
                      [style.background-color]="colorGenerator.getShuttleColor(shuttle)"
                      [style.color]="getContrastColor(colorGenerator.getShuttleColor(shuttle))">
                <ion-avatar *ngIf="shuttle">
                    <app-sf-shuttle-icon [color]="colorGenerator.getShuttleColor(shuttle)">
                    </app-sf-shuttle-icon>
                </ion-avatar>
                <ion-label>{{ shuttle?.name }}</ion-label>
            </ion-chip>
        </div>
    </ng-container>
    <div id="tmm-card-div">
        <ion-card id="tmm-card">
            <ion-card-content>
                <h3> {{"departure.WHO_DRIVES" | translate}}</h3>
                <a href="{{getTMMUrl()}}">
                    <img id="tmm-logo-img" src="assets/img/tmm-logo.svg"/>
                </a>
                <h3>{{"departure.DOESNT_DRINK" | translate}}</h3>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>

<ion-footer>

</ion-footer>
