ion-content {
  text-align: center;
}

#gps-row {
  display: flex;
  margin-top: 15px;
}

#gps-button {
  width: 130px;
  margin: 8px;
  display: inline-block;
  vertical-align: middle;
}

.section-headline {
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
}

.section-headline-small {
  text-align: left;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
}

ion-chip > ion-avatar {
  background-color: white;
}

#district-chip-row > ion-label {
  padding: 0 4px;
}

@media screen and (min-width: 321px) {

  #district-chip-row {
    text-align: center;

    ion-chip {
      height: 40px;
      border-radius: 23px;
      margin: 4px 3px;
    }
  }
}

#favorites-div {
  margin-top: 15px;
  margin-bottom: 90px;

  ion-card {

    width: 80%;
    margin: 10px auto auto auto;
  }
}

#tmm-card-div {
  position: fixed;
  bottom: 6px;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 320px) {
  #tmm-card-div {
    bottom: -15px;
  }
  #tmm-card {
  }
}

#tmm-card {
  display: inline-block;
  width: 250px;
  border-radius: 40px;
  background-color: white;

  ion-card-content {
    overflow: hidden;
    white-space: nowrap;

    h3 {
      display: inline-block;
    }
  }
}

#tmm-logo-img {
  display: inline-block;
  width: 33px;
  margin: -13px 11px;
}

