ion-content {
  text-align: center;
}

#gps-row {
  display: flex;
  margin-top: 22px;
}

#gps-button {
  width: 130px;
  margin: 8px;
  display: inline-block;
  vertical-align: middle;
}

.section-headline {
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
}

.section-headline-small {
  text-align: left;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
}

ion-chip > ion-avatar {
  background-color: white;
}

#district-chip-row {
  text-align: center;

  ion-chip {
    height: 40px;
    border-radius: 23px;
    margin: 6px 3px;

    ion-label {
      padding: 0 4px;
    }
  }
}

#remaining-districts-chip-row {
  text-align: center;
  margin-top: 10px;
}

#gps-row {
}

#favorites-div {
  margin-top: 15px;

  ion-card {

    width: 80%;
    margin: 10px auto auto auto;
  }
}

