<ion-header>
    <app-sf-toolbar></app-sf-toolbar>
</ion-header>

<ion-content>
    <ion-row id="gps-row">
        <ion-col>
            <ion-label color="primary" class="section-headline">
                {{ "departure.WHERE_ARE_YOU" | translate }}
            </ion-label>
            <ion-button id="gps-button" (click)="gpsClicked()" color="secondary" shape="round">
                <ion-icon name="pin" slot="start"></ion-icon>
                {{ "departure.GPS" | translate }}
            </ion-button>
        </ion-col>
    </ion-row>
    <ion-button *ngFor="let d of districts" shape="round"
                (click)="districtClicked(d)"
                [ngStyle]="getDistrictStyle(d)"
                color="{{getDistrictColors(d)[0]}}">
        {{getDistrictName(d)}}
    </ion-button>
    <p *ngIf="districts?.length < 1" class="no-data-p">Districts loading...</p>

</ion-content>
