rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
         allow read, write: if userMatches(userId);
      match /favorites/{favoriteId} {
        allow read, write: if userMatches(userId);
      }
      match /blacklisted/{blacklistedId} {
        allow read, write: if userMatches(userId);
      }
    }

    match /shuttles/{shuttleId} {
      allow read: if true;
      match /ratings/{ratingId} {
        allow read:if  true;
        allow write: if userMatches(resource.data.userId);
      }
      match /calls/{callId} {
        allow read, write: if userMatches(resource.data.userId);
      }
    }

    match  /districts/{districtId} {
      allow read: if true;
    }
  }

  /* Helpers */
  function isSignedIn() {
    return request.auth != null;
  }
  function userMatches(userId) {
    return isSignedIn() && request.auth.uid == userId;
  }
}
