<ion-header>
    <ion-toolbar color="{{shuttleColor}}" [ngStyle]="getToolbarStyle()">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{shuttle?.name}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<!-- TODO: Confirmed badge, Services, Add to Favorites, report Shuttle -->
<ion-content padding *ngIf="shuttle">

    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button *ngIf="!isFavorite" (click)="addToFavorites()" color="secondary" type="button">
            <ion-icon name="heart"></ion-icon>
        </ion-fab-button>
        <ion-fab-button *ngIf="isFavorite" (click)="removeFromFravorites()" color="danger" type="button">
            <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <div id="avatar-div">
        <ion-avatar>
            <app-sf-shuttle-icon [color]="colorGenerator.getShuttleColor(shuttle)">
            </app-sf-shuttle-icon>
        </ion-avatar>
    </div>
    <ion-row class="button-row">
        <ion-col>
            <ion-button (click)="callClicked(shuttle)" expand="block" color="secondary" size="large">
                <ion-icon name="call" slot="start"></ion-icon>
                Call
            </ion-button>
        </ion-col>
        <!--<ion-col>-->
        <!--<ion-button (click)="rateClicked(shuttle)" expand="block" color="tertiary" size="large">-->
        <!--<ion-icon name="star" slot="start"></ion-icon>-->
        <!--Rate-->
        <!--</ion-button>-->
        <!--</ion-col>-->
    </ion-row>
    <ion-card>
        <ion-card-header>
            <ion-card-title>{{shuttle?.name}}</ion-card-title>
            <ion-card-subtitle>{{getPhoneNumber(shuttle)}}</ion-card-subtitle>
        </ion-card-header>
    </ion-card>

    <ion-card *ngIf="shuttle?.address?.locality?.de && shuttle?.address?.locality?.it">
        <!--<ion-item lines="full" type="button">-->
        <!--<ion-icon name="mail" slot="start"></ion-icon>-->
        <!--<ion-label text-wrap>-->
        <!--<ion-text>-->
        <!--<a href="mailto:{{shuttle?.email}}">{{shuttle?.email}}</a></ion-text>-->
        <!--</ion-label>-->
        <!--</ion-item>-->
        <!--<ion-item lines="full">-->
        <!--<ion-icon name="person" slot="start"></ion-icon>-->
        <!--<ion-label text-wrap>-->
        <!--<ion-text>{{shuttle?.first_name}} {{shuttle?.last_name}}</ion-text>-->
        <!--</ion-label>-->
        <!--</ion-item>-->
        <ion-item lines="full">
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label text-wrap>
                <ion-text>{{getLocalityName()}}</ion-text>
            </ion-label>
        </ion-item>
    </ion-card>

    <!--<ion-row class="button-row">-->
    <!--<ion-col *ngIf="shuttle?.website">-->
    <!--<ion-button href="{{shuttle?.website}}" expand="block" color="secondary">-->
    <!--<ion-icon name="globe" slot="start"></ion-icon>-->
    <!--Website-->
    <!--</ion-button>-->
    <!--</ion-col>-->
    <!--<ion-col *ngIf="shuttle?.facebook">-->
    <!--<ion-button href="{{shuttle?.facebook}}"-->
    <!--id="facebook-button" expand="block">-->
    <!--<ion-icon name="logo-facebook" slot="start"></ion-icon>-->
    <!--Facebook-->
    <!--</ion-button>-->
    <!--</ion-col>-->
    <!--</ion-row>-->

    <!--<ion-card>-->
    <!--<ion-card-header>-->
    <!--<ion-card-title>Ratings</ion-card-title>-->
    <!--<ion-card-subtitle>4.7</ion-card-subtitle>-->
    <!--</ion-card-header>-->
    <!--</ion-card>-->

</ion-content>
