.toolbar-background {
  background: none;
}

#avatar-div {
  width: 100%;
  text-align: center;
  overflow: hidden;

  ion-avatar {
    display: inline-block;
    width: 40%;
  }
}

.button-row {
  margin: 0 4px;
}

#facebook-button {
  background: #3b5998;
  color: white;
}
