div.rate-button {
  padding: 14px 8px;
}

div.call-icon {
  padding: 14px 3px;
}

ion-badge {
  margin-right: 5px;
}

ion-avatar > div {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
}
