<ion-header>
    <ion-toolbar color="{{this.districtColors[0]}}" [ngStyle]="getToolbarStyle()">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            <div *ngIf="district">{{ getDistrictName(district) }}</div>
            <div *ngIf="actualCity"> {{ actualCity }}</div>
            <ion-spinner color="light" *ngIf="coordinates && !actualCity && !noValidCityName && !outOfRange" name="dots"
                         duration="900"></ion-spinner>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-virtual-scroll [items]="shuttles">
        <ion-item lines="full" *virtualItem="let s" approxItemHeight="59px" (click)="shuttleClicked(s)"
                  [class.alreadyCalledElement]="localData.shuttleCalledLately(s)">
            <ion-thumbnail slot="start">
                <app-sf-shuttle-icon [colors]="colorGenerator.getShuttleColors(s)">
                </app-sf-shuttle-icon>
            </ion-thumbnail>
            <ion-label text-wrap>
                <ion-text>
                    <h2>{{ s?.name }}
                        <ion-icon name="checkmark-circle" slot="end" color="primary"></ion-icon>
                    </h2>
                    <p>
                        <ion-badge *ngIf="coordinates && s?.city?.de && s?.city?.it" color="primary">
                            {{ getCityName(s) }}
                        </ion-badge>
                        <ion-badge *ngIf="!coordinates && s?.city?.de && s?.city?.it
                                   && districtColors" [style.background-color]="districtColors[0]"
                                   [style.color]="districtColors[1]">
                            {{ getCityName(s) }}
                        </ion-badge>
                    </p>
                </ion-text>
            </ion-label>
            <ion-icon name="call" size="large" slot="end" color="primary"></ion-icon>
        </ion-item>
    </ion-virtual-scroll>
    <div *ngIf="coordinates && outOfRange">
        <p padding class="no-data-p"> {{ "NO_SHUTTLE_FOUND" | translate }} </p>
    </div>

    <ion-spinner id="big-spinner" *ngIf="shuttles?.length < 1 && !outOfRange" color="secondary"
                 name="crescent"></ion-spinner>
</ion-content>
