<ion-header>
    <ion-toolbar color="{{districtColors[0]}}" [ngStyle]="getToolbarStyle()">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            <ng-container *ngIf="district">{{getDistrictName(district)}}
                <ng-container *ngIf="shuttles?.length > 0"> ({{shuttles?.length}})</ng-container>
            </ng-container>
            <ng-container *ngIf="currentLocality">{{currentLocality}}
                <ng-container *ngIf="shuttles?.length > 0"> ({{shuttles?.length}})</ng-container>
            </ng-container>
            <ion-spinner color="light" *ngIf="coordinates && !currentLocality && !noValidLocalityName && !outOfRange"
                         name="dots"
                         duration="900"></ion-spinner>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-virtual-scroll [items]="shuttles" approxItemHeight="60px">
        <ion-item lines="full" *virtualItem="let shuttle" approxItemHeight="59px" (click)="shuttleClicked(shuttle)"
                  [class.alreadyCalledElement]="localDataService.shuttleCalledLately(shuttle)">
            <ion-thumbnail slot="start">
                <app-sf-shuttle-icon [color]="colorGenerator.getShuttleColor(shuttle)">
                </app-sf-shuttle-icon>
            </ion-thumbnail>
            <ion-label text-wrap>
                <ion-text>
                    <h2>{{ shuttle?.name }}
                        <ion-icon *ngIf="shuttle?.verified" name="checkmark-circle" slot="end"
                                  color="secondary"></ion-icon>
                    </h2>
                    <!--<h4>{{shuttle?.rankingScore}}</h4>-->
                    <p>
                        <ion-badge *ngIf="shuttle?.avgRating?.totalAvg && shuttle?.avgRating?.totalAvg > 0"
                                   color="tertiary">
                            ★ {{shuttle?.avgRating?.totalAvg}}
                        </ion-badge>
                        <ion-badge
                                *ngIf="coordinates && shuttle?.address?.locality?.de && shuttle?.address?.locality?.it"
                                color="secondary">
                            {{ getLocalityName(shuttle) }}
                        </ion-badge>
                        <ion-badge *ngIf="!coordinates && shuttle?.address?.locality?.de && shuttle?.address?.locality?.it
                                   && districtColors" [style.background-color]="districtColors[0]"
                                   [style.color]="districtColors[1]">
                            {{ getLocalityName(shuttle) }}
                        </ion-badge>
                    </p>
                </ion-text>
            </ion-label>
            <div class="call-icon-div" (click)="callClicked(shuttle, $event)">
                <ion-icon name="call" size="large" slot="end"
                          color="secondary"></ion-icon>
            </div>
        </ion-item>
    </ion-virtual-scroll>
    <div *ngIf="coordinates && outOfRange">
        <p padding class="no-data-p"> {{ "NO_SHUTTLE_FOUND" | translate }} </p>
    </div>

    <ion-spinner id="big-spinner" *ngIf="shuttles?.length < 1 && !outOfRange" color="tertiary"
                 name="crescent"></ion-spinner>
</ion-content>
