<ion-header>
  <ion-toolbar
    color="{{(district$ | async)?.id | districtColor}}"
    [ngStyle]="(district$ | async)?.id | districtColor | colorStyling"
  >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/find"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ng-container *ngIf="(district$ | async) as district"
        >{{ district.name | districtName: lang }}
        <ng-container *ngIf="(shuttles$ | async)?.length > 0">
          ({{(shuttles$ | async)?.length}})</ng-container
        >
      </ng-container>
      <ng-container *ngIf="currentLocality"
        >{{currentLocality}}
        <ng-container *ngIf="(shuttles$ | async)?.length > 0">
          ({{(shuttles$ | async)?.length}})</ng-container
        >
      </ng-container>
      <ion-spinner
        color="light"
        *ngIf="coordinates && !currentLocality && !noValidLocalityName && !outOfRange"
        name="dots"
        duration="900"
      ></ion-spinner>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="(shuttles$ | async)?.length > 0; else noData">
    <ion-virtual-scroll [items]="(shuttles$ | async)" approxItemHeight="60px">
      <ion-item
        color="{{(shuttle.id |
                    shuttleCalledLately: localDataService.history.getValue())?
                    'medium' : ''}}"
        lines="full"
        *virtualItem="let shuttle"
        (click)="shuttleClicked(shuttle)"
      >
        <ion-thumbnail slot="start">
          <app-sf-shuttle-icon [color]="shuttle | shuttleColor">
          </app-sf-shuttle-icon>
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <ion-text>
            <h2>
              {{ shuttle?.name }}
              <ion-icon
                *ngIf="shuttle?.verified"
                name="checkmark-circle"
                slot="end"
                color="secondary"
              ></ion-icon>
            </h2>
            <p>
              <ion-badge
                *ngIf="shuttle?.avgRating?.totalAvg && shuttle?.avgRating?.totalAvg > 0"
                color="tertiary"
              >
                ★ {{shuttle?.avgRating?.totalAvg}}
              </ion-badge>
              <ion-badge
                *ngIf="coordinates && shuttle?.address?.locality?.de && shuttle?.address?.locality?.it"
                color="secondary"
              >
                {{ shuttle.address.locality | localityName: lang}}
              </ion-badge>
              <ion-badge
                *ngIf="!coordinates && shuttle?.address?.locality?.de && shuttle?.address?.locality?.it"
                [ngStyle]="(district$ | async)?.id | districtColor | colorStyling"
              >
                {{ shuttle.address.locality | localityName: lang }}
              </ion-badge>
              <!--                            <ion-badge>Nur tagsüber</ion-badge>-->
            </p>
          </ion-text>
        </ion-label>
        <div class="call-icon-div" (click)="callClicked(shuttle, $event)">
          <ion-icon
            name="call"
            size="large"
            slot="end"
            color="secondary"
          ></ion-icon>
        </div>
      </ion-item>
    </ion-virtual-scroll>
  </div>
  <ng-template #noData>
    <div *ngIf="coordinates && outOfRange; else loading">
      <p padding class="no-data-p">{{ "NO_SHUTTLE_FOUND" | translate }}</p>
    </div>
    <ng-template #loading>
      <ion-spinner
        id="big-spinner"
        *ngIf="!outOfRange && !disableLoading"
        color="tertiary"
        name="crescent"
      ></ion-spinner>
    </ng-template>
  </ng-template>
</ion-content>
