.toolbar-background {
  background: none;
}

#searchbar {
  background-color: #f8f8f8;
  padding-top: 0;
}

ion-badge {
  margin-right: 5px;
}

ion-avatar > div {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
}

.alreadyCalledElement {
  background-color: #EEEEEE;
  div.item-native {
    background-color: #EEEEEE;
  }
}
#big-spinner {
  width: 105px;
  height: 105px;
  position: absolute;
  left: 0;
  right: 0;
  top: -100px;
  bottom: 0;
  margin: auto;
}
