<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="find">
            <ion-icon name="search"></ion-icon>
            <ion-label>Find</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="history">
            <ion-icon name="list"></ion-icon>
            <ion-label>{{"page_titles.HISTORY" | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="favorites">
            <ion-icon name="heart"></ion-icon>
            <ion-label>{{"page_titles.FAVORITES" | translate}}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
