ion-content {
  #about-header-img {
    width: 55%;
    display: block;
    margin: 10px auto;
  }

  #imprint-privacy-p {
    text-align: center;
    margin-top: 28px;

    a {
      text-decoration-line: underline;
    }
  }
}

ion-footer {
  #support-p {
    font-size: 11px;
    color: #757575;
    margin-bottom: 8px;
  }

  #forump-logo-div {
    text-align: center;
  }

  #forump-logo-img {
    width: 18em;
  }
}
