<ion-header>
  <app-sf-toolbar></app-sf-toolbar>
</ion-header>

<ion-content>
  <p *ngIf="(history$ | async)?.length < 1" class="no-data-p">
    {{ "history.EMPTY" | translate }}
  </p>

  <ion-list>
    <ng-container
      *ngFor="let item of (history$ | async); index as i; trackBy: trackById"
    >
      <ion-item-divider
        *ngIf="shouldShowHeader((history$ | async), item, i) as date"
      >
        {{date.toISOString() | beautifulDate: (localDataService.locale$ |
        async)}}
      </ion-item-divider>
      <sf-shuttle-item
        [shuttle]="item.shuttle"
        [locale]="localDataService.locale$ | async"
        [showRateButton]="true"
        [showCallButton]="true"
        [lastCalledDate]="item.date"
        (onItemTapped)="itemTapped($event)"
        (onRateTapped)="rateTapped($event)"
        (onCallTapped)="callTapped($event)"
      >
      </sf-shuttle-item>
    </ng-container>
  </ion-list>
  <ion-fab
    *ngIf="(history$ | async)?.length > 0"
    vertical="center"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button (click)="clearHistoryAlert()" color="danger" type="button">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
