<ion-header>
    <app-sf-toolbar></app-sf-toolbar>
</ion-header>

<ion-content>
    <ion-virtual-scroll [items]="favorites" *ngIf="favorites?.length > 0; Else noFavorites">
        <ion-item *ngFor="let s" lines="none">
            <ion-thumbnail slot="start">
                <app-sf-shuttle-icon [colors]="colorGeneratorService.getShuttleColors(s)">
                </app-sf-shuttle-icon>
            </ion-thumbnail>
            <ion-label>{{ s?.name }}</ion-label>
            <ion-button (click)="removeFavorite(s)" color="danger" shape="round" slot="end" size="small">
                Remove
                <ion-icon name="trash" slot="end"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-virtual-scroll>
    <ng-template #noFavorites>
        <p padding class="no-data-p">{{ "favorites.EMPTY" | translate }}</p>
    </ng-template>

    <ion-fab vertical="center" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/tabs/favorites/add" color="secondary">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
