<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Blacklist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p
    *ngIf="(localDataService.blacklistedShuttles | async)?.length < 1"
    class="no-data-p"
  >
    {{ "blacklist.EMPTY" | translate }}
  </p>
  <ion-list>
    <ng-container
      *ngFor="let shuttle of localDataService.blacklistedShuttles | async; trackBy: trackById"
    >
      <sf-shuttle-item
        [shuttle]="shuttle"
        [locale]="localDataService.locale$ | async"
        [listAction]="ListAction.RemoveFromBlacklisted"
        (onItemTapped)="itemTapped($event)"
        (onListActionTapped)="removeFromBlacklistedTapped($event)"
      >
      </sf-shuttle-item>
    </ng-container>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="blockClicked()" color="dark">
      <ion-icon name="remove-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
