<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Blacklist </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p
    *ngIf="(localDataService.blacklistedShuttles | async)?.length < 1"
    class="no-data-p"
  >
    {{ "blacklist.EMPTY" | translate }}
  </p>
  <ion-list>
    <ion-item
      *ngFor="let shuttle of (localDataService.blacklistedShuttles | async)"
      (click)="shuttleClicked(shuttle)"
      lines="full"
    >
      <ion-thumbnail slot="start">
        <app-sf-shuttle-icon [color]="shuttle | shuttleColor">
        </app-sf-shuttle-icon>
      </ion-thumbnail>
      <ion-label>
        <ion-text>
          <h2>{{ shuttle?.name }}</h2>
        </ion-text>
      </ion-label>
      <div
        (click)="removeFromBlacklist(shuttle, $event)"
        class="add-remove-button-div"
      >
        <ion-button color="secondary" slot="end" shape="round" size="small">
          {{("UNBLOCK" | translate)}}
          <ion-icon name="checkmark-circle" slot="end"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="blockClicked()" color="dark">
      <ion-icon name="remove-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
