<ion-header>
  <ion-toolbar color="{{addToFavorites? 'secondary' : 'dark'}}">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ addToFavorites ? ("add.ADD_FAVORITE" | translate) : ("add.LOCK_SHUTTLE"
      | translate) }}
    </ion-title>
  </ion-toolbar>
  <ion-searchbar
    [showCancelButton]="true"
    [formControl]="searchControl"
    placeholder="{{ 'add.NAME_OR_PHONE' | translate }}"
    animated="true"
    debounce="500"
  >
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="(result$ | async) as result; else noResult">
    <ng-container *ngFor="let shuttle of result; trackBy: trackById">
      <sf-shuttle-item
        [shuttle]="shuttle"
        [locale]="localDataService.locale$ | async"
        [showPhone]="true"
        [listAction]="actionType(shuttle.id) | async"
        (onListActionTapped)="listActionTapped($event)"
      >
      </sf-shuttle-item>
    </ng-container>
  </ion-list>

  <ng-template #noResult>
    <p class="no-data-p">{{ ("add.NO_RESULT" | translate) }}</p>
  </ng-template>
</ion-content>
