.addIcon,
.removeIcon {
  margin-right: 5px;
}

searchbar {
  //background-color: #f8f8f8;
  padding-top: 5px;
}

.no-data-p {
  margin-top: 42px;
}

#cr-shuttle-icon-div {
  width: 40px;
}

ion-spinner {
  width: 105px;
  height: 105px;
  position: absolute;
  left: 0;
  right: 0;
  top: -100px;
  bottom: 0;
  margin: auto;
}
